<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eb08ac6341074271eb7c4028bed2e20a {
                    position: relative;
                    width: 70.0%;
                    height: 60.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_eb08ac6341074271eb7c4028bed2e20a" ></div>
        
</body>
<script>
    
    
            var map_eb08ac6341074271eb7c4028bed2e20a = L.map(
                "map_eb08ac6341074271eb7c4028bed2e20a",
                {
                    center: [43.662312, -79.502332],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_702d42d75be93fc5107b7a5f18ad3ebb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
            var poly_line_eb75b27cfdab2836d1e461244eab2ee2 = L.polyline(
                [[43.662179, -79.502452], [43.662291, -79.502688], [43.662471, -79.502946], [43.662509, -79.502951], [43.662547, -79.502961]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
        var popup_91d20d1e85f2fe03afe4aaf6b544d22e = L.popup({"maxWidth": 200});

        
            
                var html_56ce37b6cdd906607d8225283e4a6578 = $(`<div id="html_56ce37b6cdd906607d8225283e4a6578" style="width: 100.0%; height: 100.0%;">Route from (43.662312, -79.502332) <br> to (43.6625395, -79.5030161). <br> Profile: foot-walking</div>`)[0];
                popup_91d20d1e85f2fe03afe4aaf6b544d22e.setContent(html_56ce37b6cdd906607d8225283e4a6578);
            
        

        poly_line_eb75b27cfdab2836d1e461244eab2ee2.bindPopup(popup_91d20d1e85f2fe03afe4aaf6b544d22e)
        ;

        
    
    
            poly_line_eb75b27cfdab2836d1e461244eab2ee2.bindTooltip(
                `<div>
                     Click for details
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_b23209c1da67878cffaf3639bf7b528b = L.polyline(
                [[43.662547, -79.502961], [43.662557, -79.502964], [43.662626, -79.502968], [43.662683, -79.502978], [43.662671, -79.502889], [43.662717, -79.502249], [43.662676, -79.502246], [43.662521, -79.502113], [43.662438, -79.501966], [43.661873, -79.500777], [43.661588, -79.500143], [43.661652, -79.50008], [43.662099, -79.499647], [43.662175, -79.499536], [43.661735, -79.498846], [43.661499, -79.498453]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
        var popup_91093c408a345f07988b3f6b088c573d = L.popup({"maxWidth": 200});

        
            
                var html_85a1c4860e342a805dbe0ef573ff6a18 = $(`<div id="html_85a1c4860e342a805dbe0ef573ff6a18" style="width: 100.0%; height: 100.0%;">Route from (43.6625395, -79.5030161) <br> to (43.6615467, -79.498398). <br> Profile: cycling-regular</div>`)[0];
                popup_91093c408a345f07988b3f6b088c573d.setContent(html_85a1c4860e342a805dbe0ef573ff6a18);
            
        

        poly_line_b23209c1da67878cffaf3639bf7b528b.bindPopup(popup_91093c408a345f07988b3f6b088c573d)
        ;

        
    
    
            poly_line_b23209c1da67878cffaf3639bf7b528b.bindTooltip(
                `<div>
                     Click for details
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_86318ce2df903ab5ab700548bc826d9d = L.polyline(
                [[43.661499, -79.498453], [43.661735, -79.498846], [43.661839, -79.498745], [43.661952, -79.498635], [43.662344, -79.498289], [43.662429, -79.498224], [43.662662, -79.497949], [43.662734, -79.49793], [43.662802, -79.49797], [43.662968, -79.498224], [43.663005, -79.498173], [43.663013, -79.498161], [43.663429, -79.497588], [43.663441, -79.497571], [43.663485, -79.49751], [43.663316, -79.49727]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
        var popup_ac7f0fdaca1d939eb9c71632bb22dbf0 = L.popup({"maxWidth": 200});

        
            
                var html_a06e98056d4abd636c17dcf2104f8672 = $(`<div id="html_a06e98056d4abd636c17dcf2104f8672" style="width: 100.0%; height: 100.0%;">Route from (43.6615467, -79.498398) <br> to (43.663321, -79.497264). <br> Profile: foot-walking</div>`)[0];
                popup_ac7f0fdaca1d939eb9c71632bb22dbf0.setContent(html_a06e98056d4abd636c17dcf2104f8672);
            
        

        poly_line_86318ce2df903ab5ab700548bc826d9d.bindPopup(popup_ac7f0fdaca1d939eb9c71632bb22dbf0)
        ;

        
    
    
            poly_line_86318ce2df903ab5ab700548bc826d9d.bindTooltip(
                `<div>
                     Click for details
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd28cac70d69168728df9778d54803f8 = L.marker(
                [43.662312, -79.502332],
                {}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
            var icon_cef8984462d251e050450d87c9171ce6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "crosshairs", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_dd28cac70d69168728df9778d54803f8.setIcon(icon_cef8984462d251e050450d87c9171ce6);
        
    
        var popup_d1b730ca1a0d97381401c6adc0feba6f = L.popup({"maxWidth": "100%"});

        
            
                var html_34b0ef9b0b987ca3ccb613003c09b5e9 = $(`<div id="html_34b0ef9b0b987ca3ccb613003c09b5e9" style="width: 100.0%; height: 100.0%;">Source location<button onclick="show_directions(43.662312, -79.502332, 43.6625395, -79.5030161, 43.6615467, -79.498398, 43.663321, -79.497264, 1)">Show directions</button></div>`)[0];
                popup_d1b730ca1a0d97381401c6adc0feba6f.setContent(html_34b0ef9b0b987ca3ccb613003c09b5e9);
            
        

        marker_dd28cac70d69168728df9778d54803f8.bindPopup(popup_d1b730ca1a0d97381401c6adc0feba6f)
        ;

        
    
    
            var marker_3d425ea63ed657c2d8f92da4613be7fb = L.marker(
                [43.6625395, -79.5030161],
                {}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
            var icon_1a24a44af2faa7f49271816b4f715904 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bicycle", "iconColor": "white", "markerColor": "orange", "prefix": "fa"}
            );
            marker_3d425ea63ed657c2d8f92da4613be7fb.setIcon(icon_1a24a44af2faa7f49271816b4f715904);
        
    
        var popup_ee43a79005990f54a869ad4c5eeab67f = L.popup({"maxWidth": "100%"});

        
            
                var html_a4714d9a7ae4974d1c41751db01fa6e3 = $(`<div id="html_a4714d9a7ae4974d1c41751db01fa6e3" style="width: 100.0%; height: 100.0%;">The nearest station with bike<button onclick="show_directions(43.662312, -79.502332, 43.6625395, -79.5030161, 43.6615467, -79.498398, 43.663321, -79.497264, 1)">Show directions</button></div>`)[0];
                popup_ee43a79005990f54a869ad4c5eeab67f.setContent(html_a4714d9a7ae4974d1c41751db01fa6e3);
            
        

        marker_3d425ea63ed657c2d8f92da4613be7fb.bindPopup(popup_ee43a79005990f54a869ad4c5eeab67f)
        ;

        
    
    
            var marker_bc6191c1cea7118b7df72544d3cf29dd = L.marker(
                [43.6615467, -79.498398],
                {}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
            var icon_4ff2571deb6742c580ed2e3a48d1902c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "gas-pump", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_bc6191c1cea7118b7df72544d3cf29dd.setIcon(icon_4ff2571deb6742c580ed2e3a48d1902c);
        
    
        var popup_300213f73ff8461c08e1a253662453b1 = L.popup({"maxWidth": "100%"});

        
            
                var html_ccb765b6c968335949e2f439e6b49e41 = $(`<div id="html_ccb765b6c968335949e2f439e6b49e41" style="width: 100.0%; height: 100.0%;">The nearest station with dock<button onclick="show_directions(43.662312, -79.502332, 43.6625395, -79.5030161, 43.6615467, -79.498398, 43.663321, -79.497264, 1)">Show directions</button></div>`)[0];
                popup_300213f73ff8461c08e1a253662453b1.setContent(html_ccb765b6c968335949e2f439e6b49e41);
            
        

        marker_bc6191c1cea7118b7df72544d3cf29dd.bindPopup(popup_300213f73ff8461c08e1a253662453b1)
        ;

        
    
    
            var marker_064b5a64f6ddd6e7a82b6910460769cf = L.marker(
                [43.663321, -79.497264],
                {}
            ).addTo(map_eb08ac6341074271eb7c4028bed2e20a);
        
    
            var icon_a956270480627b8906ceea2e9f7cc0f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "font-awesome", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_064b5a64f6ddd6e7a82b6910460769cf.setIcon(icon_a956270480627b8906ceea2e9f7cc0f8);
        
    
        var popup_7e8120af1e3805af32b709daef3c8cb6 = L.popup({"maxWidth": "100%"});

        
            
                var html_8d4ce2499c834d7b1521bbd56778f8a3 = $(`<div id="html_8d4ce2499c834d7b1521bbd56778f8a3" style="width: 100.0%; height: 100.0%;">Destination location<button onclick="show_directions(43.662312, -79.502332, 43.6625395, -79.5030161, 43.6615467, -79.498398, 43.663321, -79.497264, 1)">Show directions</button></div>`)[0];
                popup_7e8120af1e3805af32b709daef3c8cb6.setContent(html_8d4ce2499c834d7b1521bbd56778f8a3);
            
        

        marker_064b5a64f6ddd6e7a82b6910460769cf.bindPopup(popup_7e8120af1e3805af32b709daef3c8cb6)
        ;

        
    
</script>
</html>