{% block header %}
  <h1>Toronto Live Bike Share - directions</h1>

{% endblock %}

{% block content %}
    <form action="/search_directions" onsubmit="return validateForm()" method="POST">
        <p>Source:</p>
        <label for="lat">Latitude:</label>
        <input type="number" step="0.000001" name="source_lat" id="source_lat" value=43.690903>
        <label for="lon">Longitude:</label>
        <input type="number" step="0.000001" name="source_lon" id="source_lon" value=-80.001234 >
        <br>
        <p>Destination:</p>
        <label for="lat">Latitude:</label>
        <input type="number" step="0.000001" name="dest_lat" id="dest_lat" value=43.429323>
        <label for="lon">Longitude:</label>
        <input type="number" step="0.000001" name="dest_lon" id="dest_lon" value=-80.400336>

        <input type="submit" value="Search directions">
    </form>
{% endblock %}


<script>

    function isLatitude(lat) {
        if (lat === "") {
            alert("Value of latitude is incorrect");
            return false; // Prevent form submission
        }

        return isFinite(lat) && Math.abs(lat) <= 90;
    }

    function isLongitude(lon) {

        if (lon === "") {
            alert("Value of longitude is incorrect");
            return false; // Prevent form submission
        }

        return isFinite(lon) && Math.abs(lon) <= 180;
    }

    function isKValue(k_value) {

        if (k_value === "") {
            alert("Value of k is incorrect");
            return false; // Prevent form submission
        }

        if (isNaN(k_value) || k_value < 1) {
            return false;
        }
        return true;
    }

    function validateForm() {
        let source_lat = document.getElementById("source_lat").value;
        let source_lon = document.getElementById("source_lon").value;
        let dest_lat = document.getElementById("dest_lat").value;
        let dest_lon = document.getElementById("dest_lon").value;

        return isLatitude(source_lat) === true
            && isLongitude(source_lon) === true
            && isLatitude(dest_lat) === true
            && isLongitude(dest_lon) === true;

    }
</script>

{% extends 'folium_map_directions.html' %}