#navbar_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
  margin-bottom: 1em;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Bahnschrift, serif;
  font-size: 1.3em;
}

li a:hover:not(.active) {
  background-color: #726f6f;
}

.active {
  background-color: #00ff39;
}