body:first-of-type{
    background-color: #ffffcc;
    font-family: Arial, serif;
}

#form_container {
    background-color: #c6f600;
    border-radius: 25px;
    padding: 20px;
    font-size: 1.2em;
}

.folium-map{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#main_header{
    text-align: center;
    font-weight: bold;
}

#submit_button{
   border-radius: 25px;
}

