body:first-of-type{
    background-color: #6aa6ff;
}



#search_available_form {
    background-color: #fcf375;
      border-radius: 25px;
      padding: 20px;
}

.folium-map{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#main_header{
    text-align: center;
    font-weight: bold;

}

#submit_button{
   border-radius: 25px;
}

